<%- layout('./layout/boilerPlate.ejs') %>
<body>
    <br>
    <div class="searchByCityName">
        <form class="SearchForm" method="get" >
            <input required class="inputSearch" type="text" name="cityName" placeholder="City Name">
            <button class="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="HometextContainer">
            <p class="Text">Spend Quality Holidays<br>with Us Anytime, Anywhere</p>
        </div>
        <a href="/listings"><button class="homeToListingButton">Explore Listings</button></a>
        
    </div>
    <br>
    <!-- introduction Section -->
    <div class="introduction">
        <div class="introductionLeft">
            <p class="introductionP1">Where <span class="highlight">Tranquility</span> Meets The Style</p>
            <p class="introductionP2">Discover your Perfect Getaway With Our Selection of Unique Homes and Experiences Designed to Make Your Travels Unforgettable. Partnering With Top-Rated Hosts to Ensure Quality Stays.</p>
            
        </div>  
        <div class="introductionRight">
            <div class="introducationImages"> </div>
        </div>
    </div>
    <br>
 <!-- some cards -->
 <div class="someCards">
    <div class="myInfoCard">
        <div class="myInfoCardLeft">
            <img class="InfoCardImg1"  src="https://res.cloudinary.com/dcs7eq5kf/image/upload/v1725239480/pngwing.com_5_duulig.png" alt="">
        </div>
        <div class="myInfoCardRight">
            <p class="boldText">300+</p>
            <p class="NonBoldText">Destinations</p>
        </div>
    </div>
    <div class="myInfoCard">
        <div class="myInfoCardLeft">
            <img class="InfoCardImg" src="https://res.cloudinary.com/dcs7eq5kf/image/upload/v1725239481/pngwing.com_7_rbtc3z.png" alt="">
        </div>
        <div class="myInfoCardRight">
            <p class="boldText">1000+</p>
            <p class="NonBoldText">Verified Hosts</p>
        </div>
    </div>
    <div class="myInfoCard">
        <div class="myInfoCardLeft">
            <img class="InfoCardImg" src="https://res.cloudinary.com/dcs7eq5kf/image/upload/v1725241337/pngwing.com_6_iariri.png" alt="">
        </div>
        <div class="myInfoCardRight">
            <p class="boldText">5000+</p>
            <p class="NonBoldText">Reviews</p>
        </div>
    </div>
</div>
    <!-- Suggestions  -->
    <h3>Top Suggestions</h3>
    <br>
    <div class="scroll-container">
        <div class="allHomeCards">
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223776/kokata_ab3qhc.jpg" class="Homecard-img-top" alt="...">
                <p id="Kolkata" class="HomeCard-text">Kolkata</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223778/mumbai_t0bb1d.jpg" class="Homecard-img-top" alt="...">
                <p id="Mumbai" class="HomeCard-text">Mumbai</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223777/bangalore_lzouhm.jpg" class="Homecard-img-top" alt="...">
                <p id="Bengaluru" class="HomeCard-text">Bengaluru</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223775/indiaGate_ztctom.jpg" class="Homecard-img-top" alt="...">
                <p id="Delhi" class="HomeCard-text">Delhi</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223777/Shimla_wz7yxf.jpg" class="Homecard-img-top" alt="...">
                <p id="Shimla" class="HomeCard-text">Shimla</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223777/goa_fg6ztv.jpg" class="Homecard-img-top" alt="...">
                <p id="Goa" class="HomeCard-text">Goa</p>
            </div>
            <div class="HomeCard">
                <img src='https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223780/ladakh_deftbc.jpg' class="Homecard-img-top" alt="...">
                <p id="Ladakh" class="HomeCard-text">Ladakh</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223776/rj_pyqtqx.jpg" class="Homecard-img-top" alt="...">
                <p id="Rajasthan" class="HomeCard-text">Rajasthan</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223773/gj_y0iv1i.jpg" class="Homecard-img-top" alt="...">
                <p id="Gujarat" class="HomeCard-text">Gujarat</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223776/kokata_ab3qhc.jpg" class="Homecard-img-top" alt="...">
                <p id="Kolkata" class="HomeCard-text">Kolkata</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223778/mumbai_t0bb1d.jpg" class="Homecard-img-top" alt="...">
                <p id="Mumbai" class="HomeCard-text">Mumbai</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223777/bangalore_lzouhm.jpg" class="Homecard-img-top" alt="...">
                <p id="Bengaluru" class="HomeCard-text">Bengaluru</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223775/indiaGate_ztctom.jpg" class="Homecard-img-top" alt="...">
                <p id="Delhi" class="HomeCard-text">Delhi</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223777/Shimla_wz7yxf.jpg" class="Homecard-img-top" alt="...">
                <p id="Shimla" class="HomeCard-text">Shimla</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223777/goa_fg6ztv.jpg" class="Homecard-img-top" alt="...">
                <p id="Goa" class="HomeCard-text">Goa</p>
            </div>
            <div class="HomeCard">
                <img src='https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223780/ladakh_deftbc.jpg' class="Homecard-img-top" alt="...">
                <p id="Ladakh" class="HomeCard-text">Ladakh</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223776/rj_pyqtqx.jpg" class="Homecard-img-top" alt="...">
                <p id="Rajasthan" class="HomeCard-text">Rajasthan</p>
            </div>
            <div class="HomeCard">
                <img src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_30/v1725223773/gj_y0iv1i.jpg" class="Homecard-img-top" alt="...">
                <p id="Gujarat" class="HomeCard-text">Gujarat</p>
            </div>
            
        </div>
    </div>
    
    <!-- review section  -->
    <div class="inside">
        <div class="comment_title">What Others Say About Us</div>
    <div class="comment_tabs">
        <div class="tab">
            <div class="comm">“I had an absolutely wonderful stay! The place was beautifully decorated and so comfortable. It felt like a cozy retreat after exploring the city all day. The host was incredibly friendly and provided great local recommendations. Everything was spotlessly clean, and the little touches like fresh flowers made it extra special. I would highly recommend this spot to anyone looking for a charming and relaxing stay”
            </div>
            <div class="comm_img_box">
                <img class="comm_img" src="https://res.cloudinary.com/dcs7eq5kf/image/upload/r_50/v1725232337/avatar1_jfaq9x.png" alt="avtar">
            </div>
            <div class="comm_footer">
                <p class="name">Sarah Johnson</p>
                <p class="grade">Freelance Graphic Designer</p>
            </div>
        </div>
        <div class="tab">
            <div class="comm">“Great experience overall! The apartment was exactly as described, with modern amenities and a perfect location for exploring the city. The check-in process was smooth, and the host was very responsive and helpful. I especially enjoyed the comfortable bed and the view from the balcony. It was a fantastic base for my trip, and I would definitely stay here again.”
            </div>
            <div class="comm_img_box">
                <img class="comm_img" src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_50/v1725232337/avatar3_scjzyq.png" alt="avtar">
            </div>
            <div class="comm_footer">
                <p class="name">Tony Stark</p>
                <p class="grade">Software Developer</p>
            </div>
        </div>
        <div class="tab">
            <div class="comm">“Fantastic place to stay! The space was spacious and well-equipped, making it perfect for both work and relaxation. The host went above and beyond to ensure I had everything I needed, and their local tips were spot on. The location was convenient, with plenty of restaurants and attractions nearby. If you’re looking for a top-notch Airbnb experience, this is the place to be!”
            </div>
            <div class="comm_img_box">
                <img class="comm_img" src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_50/v1725232337/avatar2_smilve.png" alt="avtar">
            </div>
            <div class="comm_footer">
                <p class="name">john wick</p>
                <p class="grade">Business Consultant</p>
            </div>
        </div>
    </div>
    </div>
</div>

    <script src="./js/home.js"></script>
