<%- layout('./layout/boilerPlate.ejs') %>
<body>
    <div class="noContentContainer">
        <img class="noContentImage" src="/Images/noData1.jpg" alt="">
        <h4>Sorry, there is no Data in DataBase</h4>
    </div>
</body>