<%- layout('./layout/boilerPlate.ejs') %>
<body>
    <div class="PagNotFoundUpperDiv">
        <br>
        <br>
        <img class="pageNotFoundImage" src="Images/pageNotFound.png" alt="page not Found">
        <h4>Sorry, this page isn't available.</h4>
    </div>
</body>