<%- layout('./layout/boilerPlate.ejs') %>
<body>
    <div class="PagNotFoundUpperDiv">
        <br>
        <br>
        <img class="pageNotFoundImage" src="https://res.cloudinary.com/dcs7eq5kf/image/upload/q_50/v1725227872/pageNotFound_bsouui.png" alt="page not Found">
        <h4>Sorry, this page isn't available.</h4>
    </div>
</body>