.navbar{
    height: 5rem;
    background-color: white;
}
.nav-link{
    font-size: large !important;
    font-weight: 600;
    color: #222222;
}
.nav-link:hover{
    background-color: #D3D3D3;
    color: rgb(186, 6, 6);
    border-bottom: 1px solid black !important;
}
.navbar-brand{
    font-size: 3rem;
    color: #fe424d;
}
.container-fluid{
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid black;
}